<div class="card new-question">

<div class="container">
<%= form_for [@quiz, @question], local: true do |form| %>
    <% if @question.errors.present? %>
        <p class="form-errors">
        <%= @question.errors.full_messages.join(", ") %>
        </p>
    <% end %>

    <div class="field form-group">
      <h3><%= form.label :body, "Question"%></h3>
      <%= form.text_area :body, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-info" %>
      <%= link_to 'Back', 'javascript:history.back()', class: "btn btn-danger", data:{confirm: "Changes will not be saved. Are you sure you want to go back?"} %>
    </div>
  <% end %>
    </div>
  </div>
</div>