<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @question.quiz.name %>

  <div>
  <%# if current_user.educator == false %>
    <% @answers.each do |answer| %>
        <div>
          <p><%= answer.body %></p>

          <small>
                    <% if answer.correct == true %>
                      <button>check</button>
                    <% else %>
                      <button>check</button>
                    <% end %>
                    
          </small> 
              
        </div>
      <%# else %>
      
    <%#   <div>
          <p><%= answer.body %></p>

      <%#     <small>
                    <% if answer.correct == true %>
      <%#                 <button>edit</button>
                    <% else %>
      <%#                 <button>edit</button>
                    <% end %>
                    
      <%#     </small> 
              
        </div>
      <% end %>
    <% end %>
  </div>

</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
