<h4>Quiz Name: <%= @question.quiz.name %></h4>

<h4>Question Title: <%= @question.body %> </h4>
<%= link_to 'Edit Question Details', edit_question_path(@question.id), class: "btn btn-small btn-warning" %>

<div>
  <% @answers.each do |answer| %>
      <div>
        <p><%= answer.body %></p>

        <small>
          <%= link_to 'Edit', edit_answer_path(answer.id) %>
        </small> 

      </div>
  <% end %>
</div>


