<div class="container">
  <%= form_with(model: quiz, local: true) do |form| %>
    <% if @post.errors.present? %>
        <p class="form-errors">
        <%= @post.errors.full_messages.join(", ") %>
        </p>
    <% end %>

    <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
