<div class="card border-0 new_quiz">
  <div class="card-header">
  <%= form_with(model: quiz, local: true) do |form| %>
    <% if quiz.errors.present? %>
        <strong class="form-errors">
        *** <%= quiz.errors.full_messages.join(", ") %> ***
        </strong>
        </div>
    <% end %>
    <div class="card-body">
    <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div>
     <%= form.label :description %> <br>
     <%= form.text_area :description, cols: 50, rows: 5 %>
     </div>

    <div>
    <%= check_box_tag :published %>
     <%= form.label :published %>
     </div >
    

    <div class="actions">
      <%= form.submit class: "btn btn-secondary" %>
      <%= link_to 'Back', 'javascript:history.back()', class: "btn btn-danger", data:{confirm: "Changes will not be saved. Are you sure you want to go back?"} %>
    </div>
  <% end %>
</div>
