
<%= link_to 'Create New Quiz', new_quiz_path, class: "btn btn-success mb-2"%>

<% obj.each do |quiz| %>
<div class="card">
<div class="col-sm-12 col-sm-offset-2">
 <div class="well well-lg">
   <div class="card-header">

    <%= link_to quiz.name, quiz_path(quiz) %>
    </div>
    <div class="card-body">
      <%#= truncate(quiz.description, length: 100) %>
      <div class="post-meta-details">
        <small>Created by: <%= quiz.user.username if quiz.user%> <!--(post.user) will give us the user who is associated with this post. -->
          <%= time_ago_in_words(quiz.created_at) %> ago,
          last updated: <%= time_ago_in_words(quiz.updated_at) %> ago </small>
      </div>  
    </div>



    </div>
    </div>
    </div>
    <% end %>
