<h1>Quiz Details Page</h1>
<h2>Title: <%= @quiz.name %></h2>
<div class="well col-sm-8 col-sm-offset-2">

  <p class="description"><strong>Description:</strong></p>
  <br>
  <p><%= @quiz.description %></p>
  <div class="post-actions">
  <%# if logged_in? && current_user == @quiz.user %>
   <%= link_to "Edit this Quiz", edit_quiz_path(@quiz), class: "btn btn-sm btn-primary" %>

   <%= link_to "Delete this Quiz", quiz_path(@quiz), method: :delete, data: { confirm: "Are you sure you want to Delete the Post?"}, class: "btn btn-sm btn-danger" %>
   <%# end %>
    <%= link_to 'Back', 'javascript:history.back()', class: "btn btn-sm btn-danger" %>
    <%= link_to 'Add Question to Quiz', new_quiz_question_path(@quiz.id), class:"btn btn-sm btn-info" %>
    </div>
   </div>

<div class="mt-3">
<h3>Quiz Questions:</h3>
  <ol>
    <% @questions.each do |question|%>
    <li><%= link_to question.body, question_path(question) %></li>
    <%= link_to 'Edit Question', edit_question_path(question) , class:"badge badge-warning"%>
    <%= link_to 'Delete Question', question_path(question), method: :delete,class: "badge badge-danger", data:{confirm: "This will permanently delete your question. Are you sure you want to proceed?"} %>
    <% end %>
  </ol>
  </div>