<%= form_with(model: @score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = "container">

  <div class="field">
    <h1>You are doing <%= @quiz.name %></h1>
  </div>

  <% @questions.each do |question|%>

    <div class="field">
      <%= form.label question.body %>
      <% question.answers.each do |answer|%>
        <select id=<%=answer.id%>>
          <option value=<%=answer.id%>><%= answer.body%></option>
        </select>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
