<!DOCTYPE html>
<html>
  <head>
    <title>HelloQuizzy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <%= render 'layouts/navigation' %>
    

    <h1>Welcome to Hello Quizzy</h1>
    <%= image_tag 'Hello.jpg' %>/ 
    <%= yield %>
  </body>
</html>
