<!DOCTYPE html>
<html>
  <head>
    <title>HelloQuizzy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
    
      <nav>
          <%= link_to("Home", root_path) %>
          |
          <%= link_to("Quizzes", quizzes_path) %>
          |
         <%# <%= link_to("Scores", scores_path) %>
         <%# |<%= link_to "Logout", session_path, method: :delete, data: {confirm: "Are you sure you want to Log Out"} %>
          | 
          |<%= link_to("Sign In", new_session_path) %>
          |
          |<%= link_to("Sign Up", new_user_path) %>
          
      </nav>
    </header>
    <h1>Welcome to Hello Quizzy</h1>
    <%= yield %>
  </body>
</html>
