<!DOCTYPE html>
<html>
  <head>
    <title>HelloQuizzy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  </head>

  <body>
      <%= render 'layouts/navigation' %>
    
    </header>
    <h1 class="greetings">Welcome to Hello Quizzy</h1>
    <%= image_tag 'hellokitty.jpg', :class => "img_homepage" %>
    <main class="">
        <% flash.each do |type, message|%>
          <div class="alert alert-<%= type%>">
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
         </main>
  </body>
</html>
